h1{
    margin-bottom: 5rem;
}

ul{
    margin-top: 2.5rem;;
}

span{
    font-size: medium;
    color: gray;
}

a{
    color: gray;
    text-decoration: underline;
    margin: 0rem 1rem;
}

li {
    border: 1px solid gray;
    border-radius: 1.5rem;
    padding: 2rem;
    margin-bottom: 1.5rem;
}

select, input, option{
    font-size: medium;
    margin-right: 2rem;
    border: 1px solid gray;
    padding: 0.5rem;
    border-radius: 0.5rem;
}